node_modules/
artifacts/
cache/
coverage/
.env
typechain-types/
deployments/latest.json
deployments/hardhat.json
.hardhat-local/
.hardhat-roaming/
.audit_tools/
.appdata/
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
